*.DS_Store
*.classpath
*.gitignore
*.project
*.settings
*.launch
*target
*.iml
*.MF
*.mymetadata
*META-INF
/.idea/
/out/
*.class
billing_parent/.idea/
*bin
env.properties
log4j.xml
*.springBeans
spring-redis2.xml
rebel.xml
*.log
*.launch
*/src/main/resources/log4j2.xml
*/src/main/resources/dev.properties
